<div class="courses-page">
	<div class="courses-menu row">
		<div class="coll-sm-4">
			<div class="input-group">
				<span class="input-group-addon">How to:</span>
				<input type="text" class="form-control" placeholder="Name fragment or date" aria-describedby="basic-addon1">
			</div>
		</div>
		<div class="coll-sm-8">
			<button type="button" class="btn btn-info">
				<span>Find</span>
			</button>
			<button type="button" class="btn btn-info add-button">
				<img class="button-img" src="/assets/img/plus.svg" alt="Course logo">
				<span>Add course</span>
			</button>
		</div>
	</div>
	<div class="course-list">
		<course-item *ngFor="let course of courseList" [course]="course" (onDelete)="deleteCourse($event)"></course-item>
	</div>
	<div *ngIf="isLoading">Is loading...</div>
</div>